[Unit]
Description=respondedorbot Redis cache
After=network-online.target

[Container]
Image=docker.io/redis/redis-stack-server:latest
ContainerName=respondedorbot-redis
Volume=respondedorbot-redis.volume:/data
Network=respondedorbot.network
AutoUpdate=registry
Environment="REDIS_ARGS=--maxmemory 256mb --maxmemory-policy allkeys-lru"

[Service]
Restart=always
TimeoutStartSec=30

[Install]
WantedBy=default.target
