name: Tests

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  rust:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Install dependencies
        run: sudo apt-get update

      - name: Run clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Run test suite
        run: cargo test
